<%- include('includes/home'); %>
<%- include('includes/nav'); %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">@.@ Agenda do Ti:</h1>
            <p class="text-center lead">Contatos:</p>
            
            <div class="row">
                <div class="col my-3">
                    <div class="alert alert-danger">Erro random</div>
                </div>
            </div>

            <div class="responsive-table">
                <table class="table my-3">
                    <tr>
                        <td>Tiago</td>
                        <td>15628812722</td>
                        <td>tdiascontato@gmail.com</td>
                    </tr>
                </talbe>
            </div>

        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>